@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.navigation-links {
  min-width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid #333;
}

.navigation-links a {
  color: currentColor;
  text-decoration: none;
}

.content {
  margin-left: 300px;
}

.navigation-links,
.content {
  padding: 20px;
  line-height: 1.6;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr > td {
  max-width: 300px;
}

th,
td {
  padding: 10px;
}
